# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# dask
dask-worker-space

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache

# mypy
.mypy_cache/

# Translations
*.mo

# Compiled files
bin/
*.dSYM

# IPython / Jupyter
.ipynb_checkpoints

# misc
.DS_Store

# doc
doc/_build
doc/_api_generated
doc/savefig

# emacs
.projectile
